@import "./layout.css";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

a {
  text-decoration: none;
}

input,
img,
textarea,
select,
button {
  border: 0;
  outline: none;
}

ul,
li {
  list-style: none;
}

.flex__row {
  display: flex;
  align-items: flex-start;
}
