.layout__section {
  max-width: 1024px;
  min-width: 280px;
  width: 100%;
  border: 1px solid #8395a7;
  margin: 40px auto;
  padding: 40px 0px;
}

.common__article {
  padding: 0 20px;
}

.common__article .common__hr {
  height: 1px;
  background-color: #e8e8e8;
  margin: 20px 0px;
}

.common__boldHr {
  height: 10px;
  background-color: #e8e8e8;
  margin: 40px 0px;
}

.traveler__title {
  font-size: 1.6rem;
  color: #333;
  font-weight: 500;
  line-height: 3rem;
  position: relative;
}

.traveler__title > span {
  color: #2e86de;
  margin-left: 6px;
}

.traveler__label {
  font-size: 1.2rem;
  color: #8395a7;
}

.flex__row.horizontal > .traveler__inputForm {
  width: calc(50% - 6px);
}

.flex__row.timeHorizontal > .traveler__inputForm:nth-of-type(1) {
  width: 30%;
}

.flex__row.timeHorizontal > .traveler__inputForm:last-child {
  width: calc(70% - 12px);
}

.traveler__inputForm,
.traveler__checkForm {
  margin-top: 20px;
}

.traveler__inputForm > label {
  color: #222f3e;
  font-size: 1.4rem;
}

.traveler__inputForm > div {
  border: 1px solid #c8d6e5;
  border-radius: 5px;
  margin: 8px 0 6px;
  padding: 5px 10px;
}

.traveler__inputForm > span {
  font-size: 1rem;
  color: #ff9f43;
}

.horizontal__void {
  width: 12px;
}

.horizontal__line {
  vertical-align: middle;
  display: inline-block;
  width: 1px;
  height: 26px;
  background-color: #c8d6e5;
}

.traveler__inputForm input,
.traveler__inputForm select,
.traveler__inputForm textarea {
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.traveler__inputForm select {
  height: 26px;
}

.traveler__inputForm textarea {
  height: 80px;
  resize: none;
}

.traveler__inputForm div > input + label {
  width: calc(50% - 0.5px);
  line-height: 2.6rem;
  background: transparent;
  font-size: 1.4rem;
  text-align: center;
  display: inline-block;
}

.traveler__inputForm div > input[type="radio"] {
  display: none;
}

.traveler__inputForm div > input + label.onActive {
  color: #54a0ff;
  font-weight: bold;
}

.onError > div {
  border-color: #ff9f43;
  box-shadow: 0px 0px 3px #ff9f43;
}

.policy__checkBox {
  display: flex;
  align-items: center;
}

.policy__checkBox.total > span {
  font-weight: bold;
}

.traveler__checkForm.detail {
  border: 1px solid #c8d6e5;
  padding: 14px 10px;
}

.traveler__checkForm.detail > div:first-child {
  margin-bottom: 20px;
}

.policy__checkBox > p {
  width: 22px;
  height: 22px;
  border: 1px solid #c8d6e5;
  margin-right: 8px;
}

.policy__checkBox > span {
  font-size: 1.4rem;
}

.common__payButton {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  border-radius: 3px;
  background: #54a0ff;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
}

.addTravelerButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: -10px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #54a0ff;
  position: relative;
}

.addTravelerButton span {
  display: block;
  background-color: #fff;
}

.addTravelerButton > .button__horizontal {
  width: 25px;
  height: 2px;
}

.addTravelerButton > .button__vertical {
  width: 2px;
  height: 25px;
  position: absolute;
}

.traveler__deleteButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #54a0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -12px, 0);
}

.traveler__deleteButton > span {
  width: 12px;
  height: 1px;
  background: #fff;
}
